<!DOCTYPE html>
<html>
<head>
    <!-- Use the 'title' property to render a page title  -->

    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Load the static image file  -->
    <form>
        <div class="outer_container">
            <!-- Use the 'title' property to render a title element  -->
            <h2 class="jumbotron text-center"> <%= title %></h2>

            <div class="container">
                <label class="text-success">Thank you,  <%=user.firstName%> <%=user.lastName%> for your feedback</label>
            </div>
            <div class="container">
                <label class="text-success">Comment:  <%=user.comment%></label>               
            </div>
            <div class="container"><span><a href="http://localhost:3000">Logout</a></span></div>
        </div>
    </form>
</body>
</html>